.idea
18.4.html
button.html
index.html
job.html
singin.html
table.html
test.html
18.4.css
button.css
index.css
job.css
singin.css
table.css
test.css
Bjxag.png
back.jpeg
images.jpeg
main.py
test-js.html
