<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SITE</title>
    <link rel="stylesheet" href="../../assets/css/site.css">
</head>
<body>
<div id="navbar">
    <div class="navbar-index">
        <div class="navbar-item">تماس باما</div>
        <div class="navbar-item">اخبار</div>
        <div class="navbar-item">تورها</div>
        <div class="navbar-item"><img id="logo" src="../../assets/img/Logo.png" style="width: 60px"></div>
        <div class="navbar-item">خدمات مهاجرتی</div>
        <div class="navbar-item">مشاوره مهاجرت</div>
        <div class="navbar-item">ثبت نام لاتاری</div>
    </div>
</div>
<div class="father-form-visa">
    <div class="form-visa">
        <div class="father-afs-visa">
            <img class="afs-visa" src="../../assets/img/Logo.png" style="width: 150px">
        </div>
        <div class="form-visa-right">
            <div class="text-visa">آوای فرنام سفیر</div>
            <div class="text-visa2">مرجع معتبر و تخصصی ویزا</div>
            <div class="button-form-visa">
                <input class="button-search" type="button" value="جستجو">
                <input class="button-search" type="button" value="مشاهده خدمات ">
            </div>
        </div>
        <div class="form-visa-left">
            <img class="visa-canada" src="../../assets/img/Group-6.png">
            <img class="visa-canada" src="../../assets/img/Group-5.png">
            <img class="visa-canada" src="../../assets/img/Group-4.png">
            <img class="visa-canada" src="../../assets/img/Group-3.png">
        </div>

    </div>
</div>
<div class="father-migration-path">
    <div class="migration-path"> ...مسیر مهاجرت را برایتان آسان میکنیم</div>
</div>
<div class="godfather-div">
    <div class="father-div">
        <div class="container-site">
            <div class="center-site">
                <div class="flag1">
                </div>
                <div class="text-flag">مهاجرت به آلمان</div>
                <div class="text-city">
                    آسان ترین و سریع ترین روش مهاجرتی با آوای فرنام سفیر
                </div>
                <div class="button-city">
                    <input class="button-city1" type="button" value="تحصیل در آلمان>>"
                           style="background-color: transparent">
                    <input class="button-city1" type="button" value="کار در آلمان>>"
                           style="background-color: transparent">
                    <input class="button-city1" type="button" value="ویزای آلمان>>"
                           style="background-color: transparent">
                </div>
                <div class="div-city">
                    <div class="city1"></div>
                </div>
            </div>
        </div>
        <div class="container-site">
            <div class="center-site">
                <div class="flag2">
                </div>
                <div class="text-flag">مهاجرت به کانادا</div>
                <div class="text-city">
                    آسان ترین و سریع ترین روش مهاجرتی با آوای فرنام سفیر
                </div>
                <div class="button-city">
                    <input class="button-city1" type="button" value="تحصیل در کانادا>>"
                           style="background-color: transparent">
                    <input class="button-city1" type="button" value="کار در کانادا>>"
                           style="background-color: transparent">
                    <input class="button-city1" type="button" value="ویزای کانادا>>"
                           style="background-color: transparent">
                </div>
                <div class="div-city">
                    <div class="city2"></div>
                </div>
            </div>
        </div>
        <div class="container-site">
            <div class="center-site">
                <div class="flag3">
                </div>
                <div class="text-flag">مهاجرت به فرانسه</div>
                <div class="text-city">
                    آسان ترین و سریع ترین روش مهاجرتی با آوای فرنام سفیر
                </div>
                <div class="button-city">
                    <input class="button-city1" type="button" value="تحصیل در فرانسه>>"
                           style="background-color: transparent">
                    <input class="button-city1" type="button" value="کار در فرانسه>>"
                           style="background-color: transparent">
                    <input class="button-city1" type="button" value="ویزای فرانسه>>"
                           style="background-color: transparent">
                </div>
                <div class="div-city">
                    <div class="city3"></div>
                </div>
            </div>
        </div>
        <div class="container-site">
            <div class="center-site">
                <div class="flag4">
                </div>
                <div class="text-flag">مهاجرت به ترکیه</div>
                <div class="text-city">
                    آسان ترین و سریع ترین روش مهاجرتی با آوای فرنام سفیر
                </div>
                <div class="button-city">
                    <input class="button-city1" type="button" value="تحصیل در ترکیه>>"
                           style="background-color: transparent">
                    <input class="button-city1" type="button" value="کار در ترکیه>>"
                           style="background-color: transparent">
                    <input class="button-city1" type="button" value="ویزای ترکیه>>"
                           style="background-color: transparent">
                </div>
                <div class="div-city">
                    <div class="city4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="father-cuntry100">
    <div class="cuntry100"><h1>...و مهاجرت به بیش از ۱۰۰ کشور دیگر، با آوای فرنام سفیر</h1></div>
</div>
<div class="father-line">
    <div class="line"></div>
</div>
<div class="father-map-contries">
    <div class="map-contries">
        <div class="map"><img class="map-picture" src="../../assets/img/germany1.png">
            <p class="map-p">آلمان</p></div>
        <div class="map"><img class="map-picture" src="../../assets/img/austria.png">
            <p class="map-p">اتریش</p></div>
        <div class="map"><img class="map-picture" src="../../assets/img/italy3.png">
            <p class="map-p">ایتالیا</p></div>
        <div class="map"><img class="map-picture" src="../../assets/img/russia.png">
            <p class="map-p">روسیه</p></div>
        <div class="map"><img class="map-picture" src="../../assets/img/holand.png">
            <p class="map-p">هلند</p></div>
        <div class="map"><img class="map-picture" src="../../assets/img/ukraine.png">
            <p class="map-p">اوکراین</p></div>
        <div class="map"><img class="map-picture" src="../../assets/img/Lithuania-1.png">
            <p class="map-p">لیتوانی</p></div>
        <div class="map"><img class="map-picture" src="../../assets/img/ecuador.png">
            <p class="map-p">اکوادور</p></div>
    </div>
</div>
<div class="father-hello-to-travel">
    <div class="hello-to-travel"><p class="txt-gray">سلام به سفر،</p>
        <p class="txt-red">نشاط زندگی...</p>
    </div>
</div>
<div class="father-travel-ofer">
    <div class="travel-ofer">
        <div class="travel-ofer-picture1">
            <div class="txt-overlay-container"><p class="txt-overlay">سفر به انگلیس</p></div>
        </div>
        <div class="travel-ofer-picture2">
            <div class="txt-overlay-container"><p class="txt-overlay">سفر به امارات</p></div>
        </div>
        <div class="travel-ofer-picture3">
            <div class="txt-overlay-container"><p class="txt-overlay">سفر به مالدیو</p></div>
        </div>
    </div>
</div>
<div class="father-travel-ofer2">
    <div class="travel-ofer2">
        <div class="travel-ofer-picture4">
            <div class="txt-overlay-container"><p class="txt-overlay">سفر به فرانسه</p></div>
        </div>
        <div class="travel-ofer-picture5">
            <div class="txt-overlay-container"><p class="txt-overlay">سفر به هند</p></div>
        </div>
        <div class="travel-ofer-picture6">
            <div class="txt-overlay-container"><p class="txt-overlay">سفر به کانادا</p></div>
        </div>
    </div>
</div>
<div class="father-txt-picture">
    <div class="txt-picture">
        <div class="txt-right">
            <div class="txt-normal1">
                <p>با تور های ما </p>
                <span class="good">بهترین</span>
                <p> سفر زندگیتان را تجربه کنید</p>
            </div>
            <div class="txt-normal2">تور لحظه آخری سفر به فرانسه اکنون برای شما محیاست تا با خانواده تان سفری پر شور و
                هیجان
                داشته باشید. این سفر فوق العاده در تاریخ جذاب پیش روی شما رخ خواهد داد و برای رزرو هرچه سریعتر با
                همکاران ما
                در تماس باشید.
            </div>
            <div class="btn-right">
                <input class="btn-right1" type="button" value="قصد رزرو تور را دارم!">
            </div>
        </div>
        <div class="picture-left">
        </div>
    </div>
</div>
<div class="father-proposal-div">
    <div class="proposal-div">
        <div class="txt-end">
            <h1>آخرین مقالات</h1>
        </div>
        <div class="father-overlay">
            <div class="child-overlay-right">
                <div class="child-overlay1">
                    <div class="picture-overlay1">
                        <div class="serche-link">
                            <div class="serche">
                                <div class="icon-serche"></div>
                            </div>
                            <div class="link">
                                <div class="icon-link"></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <p>ویزای تحصیلی آلمان در سال ۲۰۲۲ + شرایط و مدارک مورد نیاز</p>
                    </div>
                    <div class="post-normal">
                        <p>محبوبیت آلمان در میان دانشجویان بین المللی به طور مداوم در حال افزایش است، به ویژه از زمانی
                            که
                            این
                            کشور هزینه های تحصیل آموزش عالی
                    </div>
                </div>
            </div>
            <div class="child-overlay-left">
                <div class="child-overlay2">
                    <div class="picture-overlay2">
                        <div class="serche-link">
                            <div class="serche">
                                <div class="icon-serche"></div>
                            </div>
                            <div class="link">
                                <div class="icon-link"></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <p>ویزای تحصیلی دبی در سال ۲۰۲۲ + شرایط و مدارک مورد نیاز</p>
                    </div>
                    <div class="post-normal">
                        <p>دبی به دلیل ارائه امکانات آموزشی به افراد محلی و دانشجویان بین المللی به عنوان یک مرکز آموزشی
                            برتر
                            شناخته می شود. بسیاری از پردیس‌های دبی</p>
                    </div>
                </div>
                <div class="child-overlay3">
                    <div class="picture-overlay3">
                        <div class="serche-link">
                            <div class="serche">
                                <div class="icon-serche"></div>
                            </div>
                            <div class="link">
                                <div class="icon-link"></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <p>ویزای تحصیلی گرجستان در سال ۲۰۲۲ + شرایط و مدارک مورد نیاز</p>
                    </div>
                    <div class="post-normal">
                        <p>گرجستان ( Georgia ) کشوری اوراسیایی است. به این معنی که بخشی از آن در آسیا و بخشی نیز در
                            اروپا
                            قرار
                            دارد. این کشور بیش</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="girl-txt">
    <div class="girl-left">
    </div>
    <div class="text-right">
        <div class="text-top">
            همین حالا برای
            <span style="color: #126bdc">لاتاری ۲۰۲۳</span>
            پیش ثبت نام کنید
        </div>
        <div class="text-middle">
            <p>ویزای لاتاری آمریکا یکی از ویزاهای مهاجرتی در آمریکا است که با کد DV شناخته میشود. DV مخفف Diversity
                Visa به معنای ویزای گوناگونی یا ویزای تنوع نژادی است. هدف از اضافه کردن این برنامه مهاجرتی در قانون
                ملیت و مهاجرت آمریکا، حفظ تنوع نژادی مردم آمریکا بود.
            </p>
            <br>
            <p>همین حالا میتوانید برای لاتاری ۲۰۲۳ پیش ثبت نام کنید.</p>
        </div>
        <div class="timer">
            <div class="timer-child">
                <span class="timer-txt-top">۰۰</span>
                <span class="timer-txt-bottom">ثانیه ها</span>
            </div>
            <div class="timer-child">
                <span class="timer-txt-top">۰۰</span>
                <span class="timer-txt-bottom">دقیقه</span>
            </div>
            <div class="timer-child">
                <span class="timer-txt-top">۰۰</span>
                <span class="timer-txt-bottom">ساعت</span>
            </div>
            <div class="timer-child">
                <span class="timer-txt-top">۰۰</span>
                <span class="timer-txt-bottom">روزها</span>
            </div>
        </div>
        <div class="register">
            <div class="register-pic"></div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="icon-footer">
        <div class="instagram"><img class="icon-ins" src="../../assets/icon/icons8-instagram-48.png"></div>
        <div class="telegram"><img class="icon-tel" src="../../assets/icon/icons8-telegram-app-48.png"></div>
    </div>
    <div class="hr"></div>
    <div class="border-footer">
        <p class="p-footer">تمامی حقوق سایت متعلق به آوای فرنام سفیر می باشد.طراحی توسط بسپر دیجی</p>
    </div>
</div>
<script>
    // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("nav").style.padding = "10px 10px";
            document.getElementById("logo").style.fontSize = "25px";
        } else {
            document.getElementById("nav").style.padding = "40px 20px";
            document.getElementById("logo").style.fontSize = "35px";
        }
    }
</script>
</body>
</html>